<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="main">
        <h1><%= title %></h1>
        <p>Welcome to the <%= title %>
        <div class="message-container">
          <% messages.forEach(function(message) {%>
          <div class="message">
          <div class="message-info">
              <p class="message-author">Anonymous</p>
              <p class="message-author">Club Member</p>
            <p><%= message.date %></p>
          </div>
          <div class="message-content">
            <h3 class="message-title"><%= message.title %></h3>
            <p class="message-text"><%= message.text %></p>
          </div>
        </div>
        <% })%>
    </div>
  </body>
</html>
