<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <h1><%- title %></h1>
        <div class="message-container">
            <% messages.forEach(function(message) {%>
            <div class="message">
            <div class="message-info">
                <p class="message-author"><%= message.username %></p>
              <p><%= message.date_formatted %></p>
            </div>
            <div class="message-content">
              <h3 class="message-title"><%- message.title %></h3>
              <p class="message-text"><%- message.text %></p>
            </div>
            <% if (user && user.isadmin) { %>
              <div class="delete-button">
                <a href="<%= '/delete-message/' + message.id %>" class="button">Delete</a>
              </div>
          <% } %>
          </div>
          <% })%>
      </div>
    </div>
</body>
</html>